.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0px 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: sans-serif;
  }
  
  .button:hover {
    background-color: maroon;
    color: white;
  }

  .home {
    position: absolute;
    left: 20px;
    top: 25%;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  .goals {
    position: absolute;
    left: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  body {
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
    overflow-y: scroll;
}


.h1 {
    color: #333;
}

.budget-info {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    -ms-transform: translate(-90%, 25%);
    transform: translate(-90%, 25%);
    width: 370px;

}

.spending {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border-radius: 8px;
    -ms-transform: translate(-90%, 25%);
    transform: translate(-90%, 25%);
    width: 370px;
}
 img.animated-gif{
  width: 240px;
  height: auto;
  -ms-transform:translate(250,-120%);
  transform: translate(250%, -120%);
 }
.label {
    font-weight: bold;
}

.input[type="number"] {
    width: 80px;
}
/*header*/

@function makelongshadow($length,$angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i*$angle}px #aaa;
  }
  @return $val;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {
  background: radial-gradient(#fff, #aaa);
  background-size: 100vw 100vh; 
  overflow: hidden;
  padding-top: 40vh;
}

.txt {
  text-align: center;
  font-family: 'Roboto';
  font-size: 12vmin;
  font-weight: 700;
  animation: netflix_style 3.5s infinite;
  outline: none;
  white-space: nowrap;
}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {    
    color:#e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;    
    color:#e90418;
    transform: scale(0.85, 0.9);
  }
  
  100% {
    opacity: 0;
  }
}

.result {
    position: absolute;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    -ms-transform: translate(30%, 25%);
    transform: translate(30%, 25%);
    width: 370px;
}

  .monthly_expenses {
    position: absolute;
    left: 20px;
    top: 75%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  .remaining-balance {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    -ms-transform: translate(-90%, 25%);
    transform: translate(-90%, 25%);
    width: 370px;
}


/* making home  button color */  
.css-button-retro--red {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 30px 64px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background: transparent;
  z-index: 0;
}
.css-button-retro--red:hover:after {
  top: 0;
  left: 0;
}
.css-button-retro--red:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #ae3341;
}