.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0px 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: sans-serif;
  }
  
  .button:hover {
    background-color: maroon;
    color: white;
  }

  .home {
    position: absolute;
    left: 20px;
    top: 25%;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  .goals {
    position: absolute;
    left: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  body {
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
    overflow-y: scroll;
}


.h1 {
    color: #333;
}

.budget-info {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    -ms-transform: translate(-90%, 25%);
    transform: translate(-90%, 25%);
    width: 370px;

}

.spending {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border-radius: 8px;
    -ms-transform: translate(-90%, 25%);
    transform: translate(-90%, 25%);
    width: 370px;
}

.label {
    font-weight: bold;
}

.input[type="number"] {
    width: 80px;
}

.result {
    position: absolute;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    -ms-transform: translate(30%, 25%);
    transform: translate(30%, 25%);
    width: 370px;
}

  .monthly_expenses {
    position: absolute;
    left: 20px;
    top: 75%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  .remaining-balance {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    -ms-transform: translate(-90%, 25%);
    transform: translate(-90%, 25%);
    width: 370px;
}