.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0px 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: sans-serif;
  }
  
  .button:hover {
    background-color: maroon;
    color: white;
  }

  .home {
    position: absolute;
    left: 20px;
    top: 25%;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  .goals {
    position: absolute;
    left: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.h1 {
    color: #333;
}

.budget-info {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 350px;
    left: -425px;
    top: -50px;

}

.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    margin: 5px 0;
}

.spending {
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 300px;
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border-radius: 8px;
    top: -40px;
    left: -400px;
}

.label {
    font-weight: bold;
}

.input[type="number"] {
    width: 80px;
}

.result {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    -ms-transform: translateX(10%);
    transform: translateX(10%);
}

  .monthly_expenses {
    position: absolute;
    left: 20px;
    top: 75%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }